.header {
  display: block;
  padding: 15px 0;
  text-align: center;
  letter-spacing: -0.02em;
  background: -moz-linear-gradient(
    19.13% -81.47% -45deg,
    rgba(0, 255, 255, 1) 0%,
    rgba(0, 255, 0, 0.55) 50.16%,
    rgba(255, 242, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 255, 255, 1) 0%,
    rgba(0, 255, 0, 0.55) 50.16%,
    rgba(255, 242, 0, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    19.13% -81.47%,
    80.87% 181.47%,
    color-stop(0, rgba(0, 255, 255, 1)),
    color-stop(0.5016, rgba(0, 255, 0, 0.55)),
    color-stop(1, rgba(255, 242, 0, 1))
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(0, 255, 255, 1) 0%,
    rgba(0, 255, 0, 0.55) 50.16%,
    rgba(255, 242, 0, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(0, 255, 255, 1) 0%,
    rgba(0, 255, 0, 0.55) 50.16%,
    rgba(255, 242, 0, 1) 100%
  );
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFF', endColorstr='#FFF200' ,GradientType=0)";
  background: linear-gradient(
    135deg,
    rgba(0, 255, 255, 1) 0%,
    rgba(0, 255, 0, 0.55) 50.16%,
    rgba(255, 242, 0, 1) 100%
  );
  margin-bottom: 5%;
  width: auto;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00FFFF',endColorstr='#FFF200' , GradientType=1);
}
.header h1 {
  padding: 0.5rem 0;
  font-weight: 400;
  color: #000;
}
.header h1 a {
  color: inherit;
}
.header ul {
  list-style: none;
  margin: inherit;
  padding: 0.5rem 0;
  font-size: 1.1rem;
}
@media (max-width: 600px) {
  .header ul {
    font-size: 1rem;
  }
}
.header ul li {
  display: inline-block;
  padding: 0 15px;
}
.header ul li :global(a.active) {
  color: var(--accents-3);
}
